.TypeIndex {
    display: none;
}
    .TypeIndex .type-set {
        min-height: 28px;
        padding: 6px 20px;
        background-image: -moz-linear-gradient(top , #828282, #3e3e3e);
        background-image: -webkit-linear-gradient(top , #828282, #3e3e3e);
        border-top: solid 1px #7f7f84;
        box-shadow: 0 -1px 0 #111111, -1px 1px 0 #000000, 0 0 5px #000000;
        font-size: 12px; line-height: 12px;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 1.00);
    }
        .TypeIndex .type {
            display: inline;
        }
            .TypeIndex .type-a {
                display: block; float: left;
                padding: 8px 12px; margin-right: 10px;
                color: #fff;
            }
            .TypeIndex .type-selected .type-a {
                padding: 7px 12px;
                background-image: -moz-linear-gradient(top , #686868, #2c2c2c);
                background-image: -webkit-linear-gradient(top , #686868, #2c2c2c);
                border-top: solid 1px #000;
                border-bottom: solid 1px #7f7f84;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
            }
            .TypeIndex .type-a:hover {
                
            }