body:after {
    clear: both;
}

.Tray {
    position: absolute; left: 0; top: 0;
    width: 350px; height: 100%; overflow-y: scroll;
    background-color: #fdfdfd;
}
    .Tray-name {
        padding: 120px 30px 30px;
        color: #999;
        border-bottom: solid 1px #eee;
        font-size: 14px; line-height: 14px;
    }
    .Tray-operation-collection {
        position: absolute; right: 10px; top: 10px;
        font-size: 10px; line-height: 10px;
    }
    .Tray-operation-collection:after {
        clear: both;
    }
        .Tray-operation-collection {
            display: inline;
        }
            .Tray-operation-collection {
                float: left;
            }

.Databaser {
    padding: 20px 30px;
    background-color: #666;
}
    .Databaser-cancel {
        color: #fff;
    }

.Database-collection {
    
}
    .Database {
        position: relative;
    }
        .Database-name {
            padding: 40px 30px 20px;
            color: #666;
            background-color: #f7f7f7;
            border-top: solid 1px #fff;
            border-bottom: solid 1px #ddd;
            font-size: 14px; line-height: 14px; font-weight: bold;
        }
        .Database-operation-collection {
            position: absolute; right: 10px; top: 10px;
            font-size: 10px; line-height: 10px;
        }
        .Database-operation-collection:after {
            clear: both;
        }
            .Database-operation {
                display: inline;
            }
                .Database-operation-a {
                    display: block; float: left;
                }
        .Database canvas {
            position: absolute; left: 6px; top: 40px;
        }

.Document-collection {
    padding: 15px 30px;
    color: #666;
    background-color: #eee;
}
    .Document {
        
    }
        .Document-id {
            padding: 5px 0;
            font-family: Monaco;
            font-size: 12px; line-height: 12px;
        }

.Map {
    position: absolute; right: 0; top: 0;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
}
    .Map-map {
        
    }
.Group-collection {
    position: absolute; right: 100%;
}