body:after {
    clear: both;
}

.Tray {
    position: absolute; left: 0; top: 0;
    width: 350px; height: 100%; overflow-y: scroll;
    background-color: #fdfdfd;
}
    .Tray-name {
        padding: 120px 30px 30px;
        color: #999;
        border-bottom: solid 1px #eee;
        font-size: 14px; line-height: 14px;
    }
    .Tray-operation-collection {
        position: absolute; right: 10px; top: 10px;
        font-size: 10px; line-height: 10px;
    }
        .Tray-operation {
            position: relative;
            display: inline-block;
            width: 44px; height: 27px; overflow: hidden;
            padding: 0; margin-left: -1px;
            color: #999;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
            background-image: -moz-linear-gradient(50% 0%, #f5f5f5, #f1f1f1);
            border: solid 1px #d9d9d9;
            border-radius: 1px;
            font-size: 10px; line-height: 27px; text-align: center;
            text-shadow: -1px 1px 0 #fff;
            cursor: pointer;
        }
        .Tray-operation:hover {
            position: relative; z-index: 2;
            border-color: #c0c0c0;
        }
        .Tray-operation:active {
            border-color: #aaa;
            box-shadow: inset 0 1px 5px 0 #999;
        }

.Databaser {
    padding: 20px 30px;
    background-color: #666;
}
    .Databaser-cancel {
        color: #fff;
    }

.Database-collection {
    padding-bottom: 108px;
}
    .Database {
        position: relative;
    }
        .Database-name {
            padding: 20px 30px;
            color: #666;
            background-color: #f7f7f7;
            border-top: solid 1px #fff;
            border-bottom: solid 1px #ddd;
            font-size: 14px; line-height: 14px; font-weight: bold;
        }
        .Database-operation-collection {
            position: absolute; right: 10px; top: 12px;
        }
            .Database-operation {
                position: relative;
                display: inline-block;
                width: 44px; height: 27px; overflow: hidden;
                padding: 0; margin-left: -1px;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#F1F1F1));
                background-image: -moz-linear-gradient(50% 0%, #f5f5f5, #f1f1f1);
                border: solid 1px #d9d9d9;
                border-radius: 1px;
                cursor: pointer;
            }
            .Database-operation:hover {
                position: relative; z-index: 2;
                border-color: #c0c0c0;
            }
            .Database-operation:active {
                border-color: #aaa;
                box-shadow: inset 0 1px 5px 0 #999;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
                background-image: -moz-linear-gradient(50% 0%, #eee, #e0e0e0);
            }
            .Database-operation-selected {
                border-color: #bbb;
                box-shadow: inset 0 1px 5px 0 #ccc;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
                background-image: -moz-linear-gradient(50% 0%, #eee, #e0e0e0);
            }
                .Database-operation span {
                    position: absolute; left: 50%; top: 50%;
                    display: block;
                    width: 12px; height: 0; overflow: hidden;
                    padding-top: 12px; margin: -6px 0 0 -6px;
                    background-color: #d9d9d9;
                    border-radius: 6px;
                }
                .Database-operation:active span {
                    background-color: #aaa;
                    box-shadow: inset 0 1px 1px 0 #999, 0 1px 1px 0 #fff;
                }
                .Database-operation-selected span {
                    box-shadow: inset 0 1px 1px 0 #999, 0 1px 1px 0 #fff;
                }
        .Database-content {
            background-color: #eee;
            /*background: url('../images/whitey.png');*/
        }
        .Database-content-visible {
            padding: 16px 0;
        }
        .Database canvas {
            position: absolute; right: 62px; top: 16px;
        }

.Document-collection {
    color: #666;
}
    .Document {
        
    }
        .Document-id {
            padding: 5px 30px;
            font-family: Monaco;
            font-size: 12px; line-height: 12px;
        }
        .Document-id:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }

.Map {
    position: absolute; right: 0; top: 0;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.20);
}
    .Map-map {
        
    }
.Group-collection {
    position: absolute; right: 100%;
}

.Dialog {
    position: fixed; left: 0; top: 0; z-index: 1000;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
    .Dialog-content {
        position: fixed; left: 50%; top: 50%;
        width: 600px; height: 400px;
        margin: -200px 0 0 -300px;
        background-color: #000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.50);
    }