body:after {
    clear: both;
}
.Tray {
    float: right;
    width: 50%; min-height: 100%;
}
.Map {
    position: relative;
    float: right;
    width: 50%; min-height: 100%;
}
    .Map-map {
        
    }
.Group-collection {
    position: absolute; right: 100%;
}