<div class="Person">

    <form class="-form" action="#">
    
        <ol class="-form-field-set">
            <li class="-form-field -form-field-text">
                <label class="-form-field-label">Name</label>
                <input class="-form-field-input" type="text" name="name" placeholder="Name" />
            </li>
            <li class="-form-field -form-field-text">
                <label class="-form-field-label">Address</label>
                <textarea class="-form-field-input" type="text" name="address" placeholder="Address"></textarea>
            </li>
            <li class="-form-field -form-field-submit">
                <input type="submit" value="Submit">
            </li>
        </ol>

    </form>

</div><!-- /Person -->